body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#counter-app {
  width: 300px;
}

h1 {
  font-size: 180px;
  margin: 0;
  text-align: center;
}

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 120%;
  outline: none;
  width: 60px;
  cursor: pointer;
}
